<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Resources/css/home.css">
    <link rel="stylesheet" href="/Resources/css/BurgerNav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <script src="/Resources/Js/BurgerMenu.js"defer></script>
    <script src="/Resources/Js/homeTitle.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"defer></script>
    <script src="https://unpkg.com/vue@3"></script>
    <title>Home Page</title>

</head>
<body>

    <nav class="navbar navbar-expand-lg" id="burger-nav">
        <div class="container-fluid">
            <div id="burg-container" :class="{'burg-container': BurgPadding}" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <img @click="toggleBurger" :src="objectNav.burgerMen" alt="Burger Menu" id="burg-menu" v-if="ShowBurgerMen">
                <img @click="toggleBurgerSlide" :class="{'slide-in-animate':slideIn }" :src="objectNav.burgerMenSlide" alt="Burger Menu" id="burg-menu-slide" v-if="ShowBurgerMenSlide">
            </div>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" id="active" aria-current="page" href="#">{{listNavObj.home}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./aboutMe.html">{{listNavObj.aboutMe}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./Portfolio.html">{{listNavObj.portfolio}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contact.html">{{listNavObj.contactMe}}</a>
              </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="glitch vh-100 vw-100">
        <img class="img-fluid h-100" src="./Resources/Images/Gallery/Background_Image/IMG-20240512-WA0083.jpg" alt="">
        <div class="glitch__layers">
            <div class="glitch__layer"></div>
            <div class="glitch__layer"></div>
            <div class="glitch__layer"></div>
        </div>

        <div class="glitch__layers_two">
          <div class="glitch__layer_two"></div>
          <div class="glitch__layer_two"></div>
          <div class="glitch__layer_two"></div>
      </div>
    </div>

    <div class="container" id="canvas">
    <div id="title">
        <div class="f-name glitch layers" :data-text="titleObj.firstName">
            <div class="display1">{{titleObj.firstName}}</div>
        </div>
        <div class="h-line"></div>
        <div class="l-name glitch layers" :data-text="titleObj.lastName">
           <div class="display1">{{titleObj.lastName}}</div>
        </div>
        <a type="button" href="./Portfolio.html" class="btn btn-link">{{subHead.subheading}}</a>
    </div>
</div>

</body>
</html>
