body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--Crayolas-Outer-Space) !important;
    
}

@font-face {
    font-family: 'onePiece';
    src: url("../fonts/ONE_PIECE/one-piece-font.ttf") format('truetype');
}

/*Luffy colour scheme*/
:root{
    --Celtic-Blue: #2F76DC;
    --Diamond: #B9EFF8;
    --Ripe-Mango: #FBC920;
    --Alizarin-Crimson-light: #bb232d;
    --Alizarin-Crimson-dark: #911e26;
    --Crayolas-Outer-Space: #2E333F;
    --Crayolas-Gold: #DFC18A;
    --white:#ffffff;
    --black-Outer-Space: #000000;
}

#fullWidth{
    --bs-gutter-x: 0rem !important;
}

#hero-image{
    text-align: center;
    width:auto;
    height:200px;
    overflow: hidden;
}

#hero-image img{
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: 0.5;
}

#aboutMe{
    color: var(--white);
    margin-top:1em;
    text-align: justify;
}

.professional p,.journey-head p,#skills-head p{
    font-size:14px;
}

.journey-head h1,#skills-head h1{
    margin-top: 2rem;
    font-family: 'onePiece', sans-serif;
    color: var(--white);
}

#skills-head h3{
    color: var(--white);
}

#skills-head{
    --bs-gutter-x: 0rem !important;
}

#skills-head h3{
    margin-top: 1rem;
}

#monitor{
    position: relative;
    left: 0;
}

.skill-flex{
    display: flex;
    max-width: 100%;
}

.skill-background{
    width: 20%;
    
}

.skill-background img{
    margin: 10px auto;
    width: 100%;
}
