body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--Crayolas-Outer-Space) !important;
    
}

p{
font-family: 'lato', sans-serif !important;
}

@font-face {
    font-family: 'onePiece';
    src: url("../fonts/ONE_PIECE/one-piece-font.ttf") format('truetype');
}

@font-face {
    font-family: 'lato';
    src: url("../fonts/Lato/Lato/Lato-Light.ttf") format('truetype');
}

/*Luffy colour scheme*/
:root{
    --Celtic-Blue: #2F76DC;
    --Diamond: #B9EFF8;
    --Ripe-Mango: #FBC920;
    --Alizarin-Crimson-light: #bb232d;
    --Alizarin-Crimson-dark: #911e26;
    --Crayolas-Outer-Space: #2E333F;
    --Crayolas-Gold: #DFC18A;
    --white:#ffffff;
    --black-Outer-Space: #000000;
}

#fullWidth{
    --bs-gutter-x: 0rem !important;
}

#hero-image{
    text-align: center;
    width:auto;
}

#hero-image img{
    width:100vw;
    height:auto;
}

#aboutMe{
    color: var(--white);
    margin-top:1em;
    text-align: justify;
}

.professional p,.journey-head p,#skills-head p{
    font-size:14px;
}

.journey-head h1,#skills-set h1,#aboutMe h1{
    margin-top: 2rem;
    font-family: 'onePiece', sans-serif;
    color: var(--white);
}


#skills-set h3{
    color: var(--white);
    margin-top: 1rem;
    font-size: 18px;
}

#skills-set{
    --bs-gutter-x: 0rem !important;
}

#d-none{
    display: block !important;
}

#d-none h3{
    color: var(--Alizarin-Crimson-dark);
    
}

.skill-flex{
    display: none;
    max-width: 100%;
}

.skill-background{
    width: 20%;
    margin-top: 2em;
}

.skill-background img{
    width: 100%;
}

.inkIcon{
    rotate: 230deg;
}

.penIcon{
    rotate: 45deg !important;
}

.skill-text-background{
    width:100%
}

#Lato-text{
    text-align: center;
    justify-content: center;
    font-family: 'Lato',sans-serif !important;
}

#header-gap{
    width: 100%;
    justify-content: center;
    gap: 10%;
}

#carouselExampleCaptions,#carouselExampleIndicators{
    width: 100%;
}

@media screen and (min-width:576px){
    #fullWidth,.container{
       width:100% !important;
    }

    .professional p,.journey-head p,#skills-head p{
        font-size:20px;
    }

    .journey-head h1,#skills-set h1,#aboutMe h1{
        font-size:50px;
    }

    #skills-set h3{
        font-size:25px;
    }

    .skill-flex{
        display: block;
        max-width: 100%;
    }

    .d-inline-flex{
        display: flex;
    }

    .d-inline-flex{
        display: flex;
    }

    #tools-heading-hide{
        display: none;
    }

    #header-gap{
        width: 100%;
        justify-content: center;
        gap: 15%;
    }

    #carouselExampleCaptions,#carouselExampleIndicators{
        width: 100%;
    }
}

@media screen and (min-width:768px){
    #fullWidth,.container{
       width:100% !important;
    }

    .professional p,.journey-head p,#skills-head p{
        font-size:20px;
    }

    .journey-head h1,#skills-set h1,#aboutMe h1{
        font-size:50px;
    }

    #skills-set h3{
        font-size:30px;
    }

    .skill-flex{
        display: block;
        max-width: 100%;
    }

    .d-inline-flex{
        display: flex;
    }

    .d-inline-flex{
        display: flex;
    }

    #tools-heading-hide{
        display: none;
    }

    #header-gap{
        width: 100%;
        justify-content: center;
        gap: 20%;
    }

    #carouselExampleCaptions,#carouselExampleIndicators{
        width: 50%;
    }
}

@media screen and (min-width:992px){
    #fullWidth,.container{
       width:100% !important;
    }

    .professional p,.journey-head p,#skills-head p{
        font-size:20px;
    }

    .journey-head h1,#skills-set h1,#aboutMe h1{
        font-size:50px;
    }

    #skills-set h3{
        font-size:30px;
    }

    .skill-flex{
        display: block;
        max-width: 100%;
    }

    .d-inline-flex{
        display: flex;
    }

    .d-inline-flex{
        display: flex;
    }

    #tools-heading-hide{
        display: none;
    }

    #header-gap{
        width: 100%;
        justify-content: center;
    }

    #carouselExampleCaptions,#carouselExampleIndicators{
        width: 100%;
    }
}

@media screen and (min-width:1200px){
    #fullWidth,.container{
       width:80% !important;
    }

    .professional p,.journey-head p,#skills-head p{
        font-size:20px;
    }

    .journey-head h1,#skills-set h1,#aboutMe h1{
        font-size:50px;
    }

    #skills-set h3{
        font-size:40px;
    }

    .skill-flex{
        display: block;
        max-width: 100%;
    }

    .d-inline-flex{
        display: flex;
    }

    .d-inline-flex{
        display: flex;
    }

    #tools-heading-hide{
        display: none;
    }

    #header-gap{
        width: 100%;
        justify-content: center;
    }

    #carouselExampleCaptions,#carouselExampleIndicators{
        width: 50%;
    }
}

@media screen and (min-width:1400px){
    #fullWidth,.container{
       width:50% !important;
    }

    .professional p,.journey-head p,#skills-head p{
        font-size:20px;
    }

    .journey-head h1,#skills-set h1,#aboutMe h1{
        font-size:50px;
    }

    #skills-set h3{
        font-size:30px;
    }

    .skill-flex{
        display: block;
        max-width: 100%;
    }

    .d-inline-flex{
        display: flex;
    }

    .d-inline-flex{
        display: flex;
    }

    #tools-heading-hide{
        display: none;
    }

    #header-gap{
        width: 100%;
        justify-content: center;
    }

    #carouselExampleCaptions,#carouselExampleIndicators{
        width: 50%;
    }
}