body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--Crayolas-Outer-Space) !important;
    
}

/*Luffy colour scheme*/
:root{
    --Celtic-Blue: #2F76DC;
    --Diamond: #B9EFF8;
    --Ripe-Mango: #FBC920;
    --Alizarin-Crimson-light: #bb232d;
    --Alizarin-Crimson-dark: #911e26;
    --Crayolas-Outer-Space: #2E333F;
    --Crayolas-Gold: #DFC18A;
    --white:#ffff;
}

