/*Luffy colour scheme*/
:root{
    --Celtic-Blue: #2F76DC;
    --Diamond: #B9EFF8;
    --Ripe-Mango: #FBC920;
    --Alizarin-Crimson: #E62C39;
    --Crayolas-Outer-Space: #2E333F;
    --Crayolas-Gold: #DFC18A;
    --white:#ffff;
}


/*Burger Nav Menu*/
@font-face {
    font-family: 'onePiece';
    src: url("/Resources/fonts/ONE_PIECE/one-piece-font.ttf") format('truetype');
}

.nav{
    display:block !important;
}

#burg-container img{
    width: 10%; 
}

#burger-nav{
    background-color: var(--Crayolas-Gold);
}

#burg-menu,#burg-menu-slide{
    margin: 1em;
    
}

#burg-menu{
    filter: invert(80%) sepia(78%) saturate(2451%) hue-rotate(337deg) brightness(30%) contrast(99%);
}

#burg-menu-slide{
    transition: transform 0.5s ease;
    filter: invert(41%) sepia(20%) saturate(3167%) hue-rotate(186deg) brightness(97%) contrast(94%);
}


.nav-item a{
    color: var(--Crayolas-Outer-Space) !important;
}

/*Nav list Items*/

#menu-List{
    text-align: left;
}

#active{
    color: var(--Alizarin-Crimson) !important;
}

/*Nav list Items*/

/*Burger Menu Animations*/

.slide-in-animate{
    animation: slideIn 0.3s  1 ease;
}

.slide-down-animate{
    animation: slidedown 0.3s 1 ease;
}

@keyframes slideIn {
    0%{transform: translateX(0);}
    25%{transform: translateX(10%);}
    50%{transform: translateX(0);}
    75%{transform: translateX(5%);}
    100%{transform: translateX(0);}
}

@keyframes slidedown{
    0%{transform: translateY(-20%); opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
/*Burger Menu Animations*/

@media (min-width: 992px) {
    #burg-container img{
        display: none;
    }

    .navbar-nav{
        margin: 1rem auto;
        gap: 10rem;
        padding-bottom: 1rem;
    }

    .nav-link:hover{
        background-color: var(--Celtic-Blue);
        border-radius: 10px;
        color: var(--white) !important;
        font-family: 'onePiece';
    }
}

@media (min-width: 1200px) {
    #burg-container img{
        display: none;
    }

    .navbar-nav{
        font-size:18px;
        margin: 1rem auto;
        gap: 10rem;
        padding-bottom: 1rem;
    }

    .nav-link:hover{
        transform: scale(1.2);
        background-color: var(--Celtic-Blue);
        border-radius: 10px;
        color: var(--white) !important;
        font-family: 'onePiece';
    }
}

@media (min-width: 1400px) {
    #burg-container img{
        display: none;
    }

    .navbar-nav{
        font-size:20px;
        margin: 1rem auto;
        gap: 10rem;
        padding-bottom: 1rem;
    }

    .nav-link:hover{
        transform: scale(1.5);
        background-color: var(--Celtic-Blue);
        border-radius: 10px;
        color: var(--white) !important;
        font-family: 'onePiece';
    }

}

