body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--Crayolas-Outer-Space) !important;
}

:root{
    --Celtic-Blue: #2F76DC;
    --Diamond: #B9EFF8;
    --Ripe-Mango: #FBC920;
    --Alizarin-Crimson: #E62C39;
    --Crayolas-Outer-Space: #2E333F;
    --Crayolas-Gold: #DFC18A;
    --white:#ffff;
}

@font-face {
    font-family: 'onePiece';
    src: url("/Resources/fonts/ONE_PIECE/one-piece-font.ttf") format('truetype');
}

#fullWidth{
    --bs-gutter-x: 0rem !important;
}

#hero-image{
    text-align: center;
    width:auto;
    height:200px;
    overflow: hidden;
}

#hero-image img{
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: 0.5;
}

.d-flex{
    background-color: var(--Crayolas-Gold);
}

.d-flex img{
    width:10%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.display-1{
    font-family: 'onePiece',sans-serif;
    text-align: center;
    color: var(--white);
}

#contactMe p{
    text-align: justify;
    color: var(--white);
    margin: 0.5rem;
}

form{
border-top: 1px solid var(--Crayolas-Gold);
}

.btn{
    max-width: 100%;
    width:50%;
    text-align: center;
}

.col-auto label{
    color:var(--white)
}

@media(min-width:576px){

    #fullWidth{
        max-width: 100%;
    }

    #hero-image{
        height:auto;
        max-height:40vh;
        width: auto;
        overflow: hidden;
    }

    #hero-image img {
        object-fit: cover;
        transform: translateY(-5rem);
    }

    .d-flex{
        width: 100%;
    }

    .d-flex img{
        width:5%;
        
    }

    .form{
        width: auto;
        margin: auto;
    }

    
}

@media(min-width:768px){

    #fullWidth{
        max-width: 100%;
    }

    #hero-image{
        height:auto;
        max-height:40vh;
        width: auto;
        overflow: hidden;
    }

    #hero-image img {
        object-fit: cover;
        transform: translateY(-15rem);
    }

    .d-flex{
        width: 100%;
    }

    .d-flex img{
        width:5%;
        
    }

    .form{
        width: auto;
        margin: auto;
    }

    
}

@media(min-width:992px){

    #fullWidth{
        width: 80%;
    }

    #hero-image{
        height:auto;
        max-height:50vh;
        width: auto;
        overflow: hidden;
        
    }

    #hero-image img {
        object-fit: cover;
        transform: translateY(-10rem);
    }

    .d-flex{
        width: 100%;
    }

    .d-flex img{
        width:5%;
        
    }

    .form{
        width: 80%;
        margin: auto;
    }

    
}

@media(min-width:1200px){

    #fullWidth{
        width: 80%;
    }

    #hero-image{
        height:auto;
        max-height:45vh;
        width: auto;
        overflow: hidden;
        
    }

    #hero-image img {
        object-fit: cover;
        transform: translateY(-20rem);
    }

    .d-flex{
        width: 100%;
    }

    .d-flex img{
        width:5%;
        
    }

    .form{
        width: 80%;
        margin: auto;
    }

    
}

@media(min-width:1400px){

    #fullWidth{
        width: 60%;
    }

    #hero-image{
        height:auto;
        max-height:55vh;
        width: auto;
        overflow: hidden;
        
    }

    #hero-image img {
        object-fit: cover;
        transform: translateY(-20rem);
    }

    .d-flex{
        width: 100%;
    }

    .d-flex img{
        width:5%;
        
    }

    .form{
        width: 60%;
        margin: auto;
    }

    
}










