body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--Crayolas-Outer-Space) !important;
    
}
/*Luffy colour scheme*/
:root{
    --Celtic-Blue: #2F76DC;
    --Diamond: #B9EFF8;
    --Ripe-Mango: #FBC920;
    --Alizarin-Crimson: #E62C39;
    --Crayolas-Outer-Space: #2E333F;
    --Crayolas-Gold: #DFC18A;
    --white:#ffff;
}

@font-face {
    font-family: 'onePiece';
    src: url("Resources/fonts/ONE_PIECE/one-piece-font.ttf") format('truetype');
}

/*Burger Nav Menu*/

.nav{
    display:block !important;
}

#burg-container,#burger-nav{
    background-color: var(--Crayolas-Gold);
}

#burg-menu,#burg-menu-slide{
    margin: 1em;
    width:10%;
}

#burg-menu{
    
    filter: invert(80%) sepia(78%) saturate(2451%) hue-rotate(337deg) brightness(30%) contrast(99%);
}

#burg-menu-slide{
    transition: transform 0.5s ease;
    filter: invert(41%) sepia(20%) saturate(3167%) hue-rotate(186deg) brightness(97%) contrast(94%);
}

.nav-item a{
    color: var(--Crayolas-Outer-Space) !important;
}

/*Nav list Items*/

#menu-List{
    text-align: left;
}

/*Nav list Items*/

/*Burger Menu Animations*/

.slide-in-animate{
    animation: slideIn 0.3s  1 ease;
}

.slide-down-animate{
    animation: slidedown 0.3s 1 ease;
}

@keyframes slideIn {
    0%{transform: translateX(0);}
    25%{transform: translateX(10%);}
    50%{transform: translateX(0);}
    75%{transform: translateX(5%);}
    100%{transform: translateX(0);}
}

@keyframes slidedown{
    0%{transform: translateY(-20%); opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
/*Burger Menu Animations*/

/*Burger Nav Menu*/

/*Title*/

#title{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 5;
}

.f-name,.h-line,.l-name{
    overflow: hidden;
    white-space: nowrap;
}

.f-name,.l-name{
    font-family: 'onePiece',sans-serif;
    font-size:50px;
}

.f-name{
    color: var(--Alizarin-Crimson);
}

.h-line{
    content: "";
    border: 1px solid var(--Crayolas-Gold);
    width:11em;
}

.l-name{
    color: var(--Celtic-Blue);
    margin-left:1em;
}

/*Title*/

/*Glitch*/

.glitch {
	position: relative;
	overflow: hidden;
}

.glitch img {
    filter: brightness(0.3) blur(5px);
    width: 100%;
	position: relative;
	z-index: 1;
	display: block;
}

.glitch__layers {
    width: 100%;
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.glitch__layer {
    filter: brightness(0.5) blur(5px);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url("Resources/Images/Gallery/Background_Image/IMG-20240512-WA0073.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.glitch__layer:nth-child(1) {
    overflow: hidden;
	transform: translateX(0);
	animation: glitch-anim-1 5s infinite linear alternate;
}
.glitch__layer:nth-child(2) {
    overflow: hidden;
	transform: translateX(0) translateY(0);
	animation: glitch-anim-2 10s -.8s infinite linear alternate;
}
.glitch__layer:nth-child(3) {
    overflow: hidden;
	transform: translateX(0);
	animation: glitch-anim-flash 1s infinite linear;
}

.layers{
    position: relative;
}

.layers::before,
.layers::after{
    content: attr(data-text);
    position: absolute;
    width: 110%;
    z-index: -1;
}

.layers::before{
    filter: blur(2px);
    top:0;
    left:0;
    color:var(--white);
    animation: glitch-anim 8s step-end infinite;
}

.layers::after{
    filter: blur(2px);
    top:0;
    left:0;
    color:var(--white);
    animation: glitch-anim 4s step-end infinite;
}

/*Glitch Animation*/
@keyframes glitch-anim {
    0% {
        clip-path: polygon(
          0% 43%,
          83% 43%,
          83% 22%,
          23% 22%,
          23% 24%,
          91% 24%,
          91% 26%,
          18% 26%,
          18% 83%,
          29% 83%,
          29% 17%,
          41% 17%,
          41% 39%,
          18% 39%,
          18% 82%,
          54% 82%,
          54% 88%,
          19% 88%,
          19% 4%,
          39% 4%,
          39% 14%,
          76% 14%,
          76% 52%,
          23% 52%,
          23% 35%,
          19% 35%,
          19% 8%,
          36% 8%,
          36% 31%,
          73% 31%,
          73% 16%,
          1% 16%,
          1% 56%,
          50% 56%,
          50% 8%
        );
      }
    
      5% {
        clip-path: polygon(
          0% 29%,
          44% 29%,
          44% 83%,
          94% 83%,
          94% 56%,
          11% 56%,
          11% 64%,
          94% 64%,
          94% 70%,
          88% 70%,
          88% 32%,
          18% 32%,
          18% 96%,
          10% 96%,
          10% 62%,
          9% 62%,
          9% 84%,
          68% 84%,
          68% 50%,
          52% 50%,
          52% 55%,
          35% 55%,
          35% 87%,
          25% 87%,
          25% 39%,
          15% 39%,
          15% 88%,
          52% 88%
        );
        
      }
    
      30% {
        clip-path: polygon(
          0% 53%,
          93% 53%,
          93% 62%,
          68% 62%,
          68% 37%,
          97% 37%,
          97% 89%,
          13% 89%,
          13% 45%,
          51% 45%,
          51% 88%,
          17% 88%,
          17% 54%,
          81% 54%,
          81% 75%,
          79% 75%,
          79% 76%,
          38% 76%,
          38% 28%,
          61% 28%,
          61% 12%,
          55% 12%,
          55% 62%,
          68% 62%,
          68% 51%,
          0% 51%,
          0% 92%,
          63% 92%,
          63% 4%,
          65% 4%
        );
      }
    
      45% {
        clip-path: polygon(
          0% 33%,
          2% 33%,
          2% 69%,
          58% 69%,
          58% 94%,
          55% 94%,
          55% 25%,
          33% 25%,
          33% 85%,
          16% 85%,
          16% 19%,
          5% 19%,
          5% 20%,
          79% 20%,
          79% 96%,
          93% 96%,
          93% 50%,
          5% 50%,
          5% 74%,
          55% 74%,
          55% 57%,
          96% 57%,
          96% 59%,
          87% 59%,
          87% 65%,
          82% 65%,
          82% 39%,
          63% 39%,
          63% 92%,
          4% 92%,
          4% 36%,
          24% 36%,
          24% 70%,
          1% 70%,
          1% 43%,
          15% 43%,
          15% 28%,
          23% 28%,
          23% 71%,
          90% 71%,
          90% 86%,
          97% 86%,
          97% 1%,
          60% 1%,
          60% 67%,
          71% 67%,
          71% 91%,
          17% 91%,
          17% 14%,
          39% 14%,
          39% 30%,
          58% 30%,
          58% 11%,
          52% 11%,
          52% 83%,
          68% 83%
        );
      }
    
      76% {
        clip-path: polygon(
          0% 26%,
          15% 26%,
          15% 73%,
          72% 73%,
          72% 70%,
          77% 70%,
          77% 75%,
          8% 75%,
          8% 42%,
          4% 42%,
          4% 61%,
          17% 61%,
          17% 12%,
          26% 12%,
          26% 63%,
          73% 63%,
          73% 43%,
          90% 43%,
          90% 67%,
          50% 67%,
          50% 41%,
          42% 41%,
          42% 46%,
          50% 46%,
          50% 84%,
          96% 84%,
          96% 78%,
          49% 78%,
          49% 25%,
          63% 25%,
          63% 14%
        );
      }
    
      90% {
        clip-path: polygon(
          0% 41%,
          13% 41%,
          13% 6%,
          87% 6%,
          87% 93%,
          10% 93%,
          10% 13%,
          89% 13%,
          89% 6%,
          3% 6%,
          3% 8%,
          16% 8%,
          16% 79%,
          0% 79%,
          0% 99%,
          92% 99%,
          92% 90%,
          5% 90%,
          5% 60%,
          0% 60%,
          0% 48%,
          89% 48%,
          89% 13%,
          80% 13%,
          80% 43%,
          95% 43%,
          95% 19%,
          80% 19%,
          80% 85%,
          38% 85%,
          38% 62%
        );
      }
    
      1%,
      7%,
      33%,
      47%,
      78%,
      93% {
        clip-path: none;
      }
}

@keyframes glitch-anim-1 {
	0% {
		clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
        opacity: 0;
	}
	10% {
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
        opacity: 0;
	}
	20% {
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
        opacity: 0;
	}
	30% {
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
        opacity: 1;
	}
	40% {
		clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
	}
	50% {
		clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
	}
	60% {
		clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
	}
	70% {
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	80% {
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	90% {
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	100% {
		clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
	}
}
@keyframes glitch-anim-2 {
	0% {
		clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
	}
	15% {
		clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
	}
	25% {
		clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
	}
	30% {
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);

	}
	45% {
		clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
	}
	50% {
		clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
	}
	65% {
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	75% {
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	80% {
		clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
	}
	95% {
		clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
	}
	100% {
		clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
	}
}
@keyframes glitch-anim-flash {
	0% {
		opacity: .2;
	}
	30%, 100% {
		opacity: 0;
	}
}
/*Glitch Animation*/

/*Glitch*/