body{
    margin: 0;
    box-sizing: border-box;
}

/*Luffy colour scheme*/
:root{
    --Celtic-Blue: #2F76DC;
    --Diamond: #B9EFF8;
    --Ripe-Mango: #FBC920;
    --Alizarin-Crimson: #E62C39;
    --Crayolas-Outer-Space: #2E333F;
    --Crayolas-Gold: #DFC18A;
}

.nav{
    display:block !important;
}

.burg-container{
    background-color: var(--Crayolas-Outer-Space);
}

#burg-menu{
    width: 20%;
    filter: invert(80%) sepia(78%) saturate(2451%) hue-rotate(337deg) brightness(103%) contrast(99%);
}

#burg-menu-slide{
    width: 20%;
    display: none;
    filter: invert(41%) sepia(20%) saturate(3167%) hue-rotate(186deg) brightness(97%) contrast(94%);
}