

body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--Crayolas-Outer-Space) !important;
    
}

/*Luffy colour scheme*/
:root{
    --Celtic-Blue: #2F76DC;
    --Diamond: #B9EFF8;
    --Ripe-Mango: #FBC920;
    --Alizarin-Crimson: #E62C39;
    --Crayolas-Outer-Space: #2E333F;
    --Crayolas-Gold: #DFC18A;
}

@font-face {
    font-family: 'onePiece';
    src: url("./Resources/fonts/ONE_PIECE/one-piece-font.ttf") format('truetype');
}

#nav h5,nav-item h5{
    font-family: 'onePiece' !important;
}

/*Burger Nav Menu*/
#burger-nav{
    display: none !important;
}

.burg-container{
    padding-bottom: 1em;
}

.nav{
    display:block !important;
}

#burg-container{
    background-color: var(--Crayolas-Outer-Space);
}

#burg-menu,#burg-menu-slide{
    margin: 1em;
    
}

#burg-menu{
    
    filter: invert(80%) sepia(78%) saturate(2451%) hue-rotate(337deg) brightness(103%) contrast(99%);
}

#burg-menu-slide{
    transition: transform 0.5s ease;
    width: 20%;
    filter: invert(41%) sepia(20%) saturate(3167%) hue-rotate(186deg) brightness(97%) contrast(94%);
}

.nav-item{
    position: relative !important;
    z-index:1 !important;
}
.nav-item a{
    color: var(--Alizarin-Crimson) !important;
}

/*Burger Menu Animations*/

.slide-in-animate{
    animation: slideIn 0.3s  1 ease;
}

.slide-down-animate{
    animation: slidedown 0.3s 1 ease;
}

@keyframes slideIn {
    0%{transform: translateX(0);}
    25%{transform: translateX(10%);}
    50%{transform: translateX(0);}
    75%{transform: translateX(5%);}
    100%{transform: translateX(0);}
}

@keyframes slidedown{
    0%{transform: translateY(-20%); opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
/*Burger Menu Animations*/

/*Burger Nav Menu*/

/*Nav list Items*/
#nav h5{
    color: var(--Ripe-Mango);
    margin: 10px;
}

.nav{
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 3 !important;
}

.nav-link h5{
    color: var(--Alizarin-Crimson) !important;
    font-size: 50px;
    
}

#smoke-container video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: smokeFade 15s infinite linear;
   
}

@keyframes smokeFade {
    0%{opacity: 0;}

    25%{opacity: 0;}

    50%{opacity: 0.3;}

    90%{opacity: 0;}

    100%{opacity: 0;}
}

/*Nav list Items*/