body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--Crayolas-Outer-Space) !important;
    
}

/*Luffy colour scheme*/
:root{
    --Celtic-Blue: #2F76DC;
    --Diamond: #B9EFF8;
    --Ripe-Mango: #FBC920;
    --Alizarin-Crimson: #E62C39;
    --Crayolas-Outer-Space: #2E333F;
    --Crayolas-Gold: #DFC18A;
}

@font-face {
    font-family: 'onePiece';
    src: url("./Resources/fonts/ONE_PIECE/one-piece-font.ttf") format('truetype');
}

.nav h5,nav-item h5{
    font-family: 'onePiece' !important;
}

/*Burger Nav Menu*/

#burg-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
   
}

#burg-container,.nav{
    width: 100%;
    background-color: var(--Crayolas-Gold);
}

#navFlex{
    display: flex;
    width: 100%;
}

#burg-container h5{
    margin: 0 auto;
    
}

.navbar{
    --bs-navbar-padding-x: 1 !important;
}

.nav{
    display:block !important;
    width: 100%;
}

#burger-nav{
    background-color: var(--Crayolas-Outer-Space);
}

#burg-menu,#burg-menu-slide{
    width: 10%;
    margin: 1em;
}

#burg-menu{
    
    filter: invert(80%) sepia(78%) saturate(2451%) hue-rotate(337deg) brightness(30%) contrast(99%);
}

#burg-menu-slide{
    transition: transform 0.5s ease;
    filter: invert(44%) sepia(53%) saturate(4382%) hue-rotate(202deg) brightness(90%) contrast(90%);
}

.nav-item{
    position: relative !important;
    z-index:1 !important;
}
.nav-item a{
    color: var(--Crayolas-Outer-Space) !important;
}

/*Burger Menu Animations*/

.slide-in-animate{
    animation: slideIn 0.3s  1 ease;
}

.slide-down-animate{
    animation: slidedown 0.3s 1 ease;
}

@keyframes slideIn {
    0%{transform: translateX(0);}
    25%{transform: translateX(10%);}
    50%{transform: translateX(0);}
    75%{transform: translateX(5%);}
    100%{transform: translateX(0);}
}

@keyframes slidedown{
    0%{transform: translateY(-20%); opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
/*Burger Menu Animations*/


/*Burger Nav Menu*/
#nameHeader{
    display: flex;
    flex-wrap: wrap;
}

#nameHeader h5{
    color: var(--Ripe-Mango);
    margin: 10px;
    font-family: 'onePiece' !important;
}
/*Burger Nav Menu*/

/*Grid Gallery Mobile*/
#portfolio h5{
    text-align: center;
    color: var(--Crayolas-Gold);
}

.row{
    display: block !important;
    --bs-gutter-x: 0 !important;
    padding-left: 0 !important;
    width:100vw !important;
}


.column{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 10px;
}

.column img,.column-one img{
    width: 100%;
    height: 194px;
    object-fit: cover;
    padding-bottom: 10px;
}

#tradArt{
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
}

#tradArt img{
    width: 100%;
}

/*Grid Gallery Transition*/
.dig-image-transition{
    animation: scaleImages 1s 1 ease-in-out;
}

@keyframes scaleImages {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

/*Grid Gallery Transition*/

/*Grid Gallery Mobile*/